<div id="groupPack">
  <div class="group-content">
    <div class="group-icon">$</div>
    <div class="group-details">
      <div class="group-name">
        <%= group.name %>
      </div>
    </div>
  </div>
</div>