/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  background: rgb(0, 22, 47);
  background: white;
  width: 100.2vw;
  height: 100vh;
  overflow-x: hidden;
}

#landing {
  width: 100%;
  height: 100%;
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landing h1 {
  color: black;
  font-family: 'proxima-nova', sans-serif;
  font-size: 4em;
}

#landing a {
  display: inline-block;
  color: black;
  padding: 10px 20px;
  background-color: #3498db;
  text-decoration: none;
  font-family: 'proxima-nova', sans-serif;
  font-size: 1.8em;
}

#nav a {
  margin-right: 3%;
  padding: 8px 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-family: 'proxima-nova', sans-serif;
}

#groupIndex a {
  display: inline-block;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 1%;
  text-decoration: none;
  background-color: #5fb523;
}

#groupNew a {
  display: inline-block;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #5fb523;
}

#entitiesIndex a {
  display: inline-block;
  color: black;
  padding: 10px 20px;
  margin-bottom: 1%;
  text-decoration: none;
  background-color: #5fb523;
}

#signUp a {
  display: inline-block;
  color: black;
  margin-top: 1%;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #3498db;
}

#landing a:nth-child(4) {
  font-size: 1.3em;
}

#landing p {
  color: black;
  font-family: 'proxima-nova', sans-serif;
}

#nav {
  width: 100%;
  height: 10%;
  background-color: rgba(55, 120, 194, 1);
  position: fixed;
  left: 0%;
  top: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav h1 {
  font-family: 'proxima-nova', sans-serif;
  font-size: 1.5em;
}

#groupPack {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5; /* Just an example background color, you can adjust */
  border-radius: 10px; /* Add some rounded corners */
}

.group-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: rgb(211, 211, 211);
  padding: 20px;
  border-radius: 10px;
}

.group-icon {
  flex: 1; 
  font-size: 50px;
  width: 20%;
  height: auto;
  max-width: 100px;
}

.group-details {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group-name {
  font-size: 30px;
  font-weight: bold;
}

#groupNew {
  color: black;
  text-decoration: none;
  margin-top: 13%;
  font-family: 'proxima-nova', sans-serif;
}

#entitiesIndex {
  color: black;
  padding: 15px;
  background-color: #f5f5f5;
  font-family: 'proxima-nova', sans-serif;
  margin-top: 20%;
}

#entitiesIndex td {
  font-size: 0.8em;
}

#signUp {
  margin-top: 20%;
  color: black;
  font-family: 'proxima-nova', sans-serif;
}

#groupIndex {
  margin-top: 30%;
  font-family: 'proxima-nova', sans-serif;
  color: black;
}

.transaction-box {
  background-color: #ffffff; /* Background branco para cada caixa de transação */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.transaction-box table {
  width: 100%;
  border-collapse: collapse;
}
 .transaction-box td {
  padding: 5px;
}
